.contener {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-around;
  padding: 93px 0 40px 51px;
  margin-right: 50px;
}

.header_menu_list_menu {
  font-size: 18px;
  text-transform: lowercase;
  display: flex;
  flex-direction: row;
  list-style: circle;
  padding-top: 26px;
}

.header_menu_list_menu_items {
  margin: 20px;
  text-decoration: underline;
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
}

.header_menu_list_menu_items:first-child {
  list-style: none;
  margin-left: 0;
}

.header__logo {
  display: block;
  justify-self: center;
}

.address {
  display: flex;
  font-style: normal;
  flex-direction: column;
  justify-self: end;
  text-decoration: none;
  max-width: 240px;
  padding-top: 7px;
  line-height: 24.3px;
  font-size: 18px;
  font-weight: 400;
}

.header_address {
  text-decoration: underline;
  text-underline-position: under;
  color: black;
}

.cover {
  background: url(../images/lotus-flower.png) no-repeat center/cover;
  margin: 0;
  position: relative;
}

.cover__title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
  font-size: 100px;
  letter-spacing: 30px;
  color: white;
  margin: 50px 20px 50px 20px;
  text-transform: uppercase;
  font-weight: 700;
  gap: 10px;
}

.aligned-text {
  margin-top: 165px;
  margin-left: 25px;
  justify-self: flex-start;
  align-self: flex-start;
}

.aligned-text_right {
  justify-self: flex-end;
  align-self: flex-end;
  margin-bottom: 65px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
}

.cover__description__text {
  color: #fff;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 14px;
  letter-spacing: 0.5px;
  margin-top: 15px;
}

.cover__description__button {
  background-color: transparent;
  border: 1px solid #fff;
  justify-self: flex-end;
  width: 257px;
  height: 52px;
  margin-right: 50px;
  margin-left: 78px;
  margin-bottom:  50px;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}

.lots__heading {
  margin-top: 170px;
  margin-left: 90px;
  text-transform: uppercase;
  margin-bottom: 27px;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 430px;
}

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: Raleway;
  position: relative;
}

.card_type_film {
  background-image: url(../images/photo_andersson.png);
}

.card_type_book {
  background-image: url(../images/photo_uilis.png);
}

.card_type_picture {
  background-image: url(../images/photo_kandidsky.png);
}

.card__title {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  z-index: 1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.lots__look-more-link {
  margin-top: 35px;
  margin-left: 90px;
  font-size: 20px;
  line-height: normal;
  text-transform: lowercase;
  text-decoration: underline;
  text-underline-position: under;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 180px;
  column-gap: 25px;
}

.about__logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about__logo-image {
  width: 60%;
  height: auto;
}

.about__title {
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  margin-top: 5px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__menu-items {
  list-style: none;
  text-transform: lowercase;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.foter__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
  margin-right: 0;
}
